# env
.env
.env.*
*.env
!*.env.example

# python
__pycache__/
.venv/
venv/
*.pyc
.pytest_cache/

# node
node_modules/
dist/
build/

# logs
logs/*.log
logs/*.log*
logs/*.gz
logs/*
!logs/.gitkeep

# Uploads (keep structure, ignore files)
frontend/uploads/**/*
!frontend/uploads/.gitkeep
!frontend/uploads/profile-pictures/.gitkeep
