# Public (frontend)
# Vite, kod içinde `import.meta.env.VITE_API_URL` bekliyor
VITE_API_URL=https://lettertostars.mustafaerhanportakal.com/api
VITE_AI_URL=https://lettertostars.mustafaerhanportakal.com/ai
VITE_APP_ENV=production
