# Webhook service
PORT=9000

# GitHub Webhook Secret (HMAC)
GITHUB_WEBHOOK_SECRET=

# Deploy root on VPS
PROJECT_ROOT=/opt/letter-to-stars

# Deploy branch (optional)
DEPLOY_BRANCH=main

HOST=0.0.0.0
